name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
        activerecord:
          - '7.1'
          - '7.2'
          - '8.0'
          - '8.1'

    name: Ruby ${{ matrix.ruby }} / ActiveRecord ${{ matrix.activerecord }}
    env:
       AR: ~> ${{ matrix.activerecord }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: |
          bundle exec rake
